
:root {
  --bodyFondo: linear-gradient(to bottom right, rgb(10, 7, 56), #8a4eff);
  --transparenciaFondo: rgba(0,0,0,0);
  --azulOscuroBoton:#070047;
  --titulof: #3cf;
  --blanco: #ffffff;
  --negro: #000000;
  --header: #2e1569ec;
}

*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: justify;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background: var(--bodyFondo);
  margin: 0;
  padding: 0;
}

/* Estilos generales del encabezado */
header {
  background-color: var(--header);
  padding: 20px;
  color: var(--blanco);
}

.fixed-header {
  position:fixed;
	z-index:1000;
	top:0;
	width: 100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

.container {
    max-width: 900px; 
    margin: 0 auto;
    padding: 0 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100; 
}

/* Estilos del logo */
.logoFortram img {
  width: 100px; 
}

/* Estilos de la navegación */
nav ul {
  list-style: none;
  display: flex;
}

.container-link li {
  margin-right: 10px;
}

.boton a {
    display: block;
    padding: 10px;
    color: var(--blanco);
    text-decoration: none;
    transition: background-color 0.3s ease,   border-radius 0.3s ease;
    border-radius: 5px;
}

.boton a:hover {
  background-color: var(--azulOscuroBoton);
  border-radius: 20px;
}

.oculto {
  display: none;
}

.vicible {
  display: block;
}

.mostrarMas {
  background-color: var(--azulOscuroBoton);
  border: none;
  border-radius: 40px;
  color: var(--blanco);
  padding: 15px 32px;
  font-size: 1.2em;
  box-shadow: 0px 0px 10px 0px var(--azulOscuroBoton);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}

.mostrarMas:hover {
  box-shadow: none;
  background-color: var(--negro);
  color: var(--blanco);
  transition: cubic-bezier(0.075, 0.82, 0.162, 1) 3.05s;
  
}

/* Estilos del título principal */
.titulo-principal {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilos del título Secundario */
.titulo-secundario {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Estilos del título Terciario*/
.titulo-terciario {
  margin-bottom: 5px;
}

/* Estilos del contenedor principal */
main {
  max-width: 900px;
  margin: 100px auto;
  padding: 20px;
}


 /* Seccion: TeamFortran*/ 


/* Estilos del equipo Fortram */

.TeamFortran {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .wrapper {
      flex-direction: column;
  }
}

.wrapper {
  text-align: center;
  flex-grow: 1; /* Agregar esta propiedad */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .h1{
  font-size: 24px;
  font-weight: bold;
  color: #FC6D6D;
  text-align: center;
  margin-top: 20px;
}


.wrapper .static-text {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}


.dinamic-text li{
  color: #FC6D6D;
  list-style: none;
  font-size: 60px;
  font-weight: 500px;
  top: 0;
  opacity: 0;
}

.image-container {
  flex: 1;
}


/* Estilo del menu de Integrantes */
.foto-Integrante {
  padding: 2rem;
  background-color: var(--transparenciaFondo);
  position: relative;
  width: calc(130 + 4 * 70px + 4rem);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px;
  box-shadow: 0 10px 25px 0 rgba(235, 235, 235, 0.26);
}

/* Estilo del avatar integrantes */
.foto-Integrante img{
  width: 70%;
  height: 70%;
  object-fit: cover;
  
}

/* Estilo de contenedor del avatar */
.linkF {
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  border-radius: 99em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: center left;
  transition: width 0.2s ease-in;
  text-decoration: none;
  color: inherit;
}

/* Estilo before del contenedor de avatar */
.linkF:before{
  position: absolute;
  z-index: -1;
  content: --;
  display: block;
  border-radius: 99em;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  transform-origin: center right;
  
}

/* Estilos al hacer hover y focus en avatar */
/*Este bloque de código se aplica tanto cuando el elemento con la clase .linkF está en estado de :hover (puntero del mouse sobre el elemento) como cuando está en estado de :focus (el elemento tiene el enfoque, por ejemplo, cuando se hace clic en él o se navega a él mediante el teclado). Los estilos especificados en este bloque establecen que el elemento no tenga ningún contorno (outline: 0) y que tenga un ancho de 180px.*/
.linkF:hover, .linkF:focus {
  outline: 0;
  width: 180px;
}

/* Estilos al hacer hover en avatar */
/*Este bloque de código se aplica solo cuando el elemento con la clase .linkF está en estado de :hover. Los estilos especificados en este bloque realizan dos acciones: aplican una transformación translateX(-2%), que desplaza el elemento hacia la izquierda un 2% de su tamaño original, y establecen el color de fondo del elemento en la variable --azulOscuroBoton.*/
.linkF:hover:before,
.linkF:hover .link-titulo {
  transform: translateX(-2%);
  background-color: var(--azulOscuroBoton);
 
}

/* clase del avatar */
.link-icon {
  position:absolute;
} 

/* Titulo del avatar*/
.link-titulo {
  color: var(--blanco);
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-indent: 10px;
  width: 100%;
  height: 100%;
}



